body {
    width: 90%;
    height: fit-content;
    margin: auto;
    background-color: #EDEBD7;
}

/*.navbar {
    width: 100%;
    margin: auto;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EDEBD7;
    opacity: 0.7;
}*/

/*top nav */

.navbarHeader {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:700;
    font-size:22px;
    margin-left:3%;
    justify-content:center;
    align-items:center;
    display:flex;
    text-decoration:none;
  }

  a {
    text-decoration:none;
  }
  
  .navbar {
    width: 100%;
    margin: auto;
    height: 100px;
    font-size:18px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:#EDEBD7;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  /**header links*/ 
  .fenixHeaderLink {
    font-size: 20px;
    color: #000000;
  }
  
  .fenixHeaderLink:hover{
    border-bottom: 1px solid #5BCCD9;
    color:#5BCCD9;
    text-decoration:none;
  }
  
  .glendaHeaderLink {
    font-size: 20px;
    color: #000000;
  }
  
  .glendaHeaderLink:hover{
    border-bottom: 1px solid #5BCCD9;
    color:#5BCCD9;
    text-decoration:none;
  }
  
  .sanlyHeaderLink {
    font-size: 20px;
    color: #000000;
  }
  
  .sanlyHeaderLink:hover{
    border-bottom: 1px solid #5BCCD9;
    color:#5BCCD9;
    text-decoration:none;
  }
  
  .justinHeaderLink{
    font-size: 20px;
    color: #000000;
  }
  
  .justinHeaderLink:hover{
    border-bottom: 1px solid #5BCCD9;
    color:#5BCCD9;
    text-decoration:none;
  }
  
  .takamiHeaderLink{
    font-size: 20px;
    color: #000000;
  }
  
  .takamiHeaderLink:hover{
    border-bottom: 1px solid #5BCCD9;
    color:#5BCCD9;
    text-decoration:none;
  }

  /**header links end**/

 /*.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    position: relative;
    margin-right: 20px;
}

.navbar ul li a {
    color: #242F40;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.navLink:link {
    text-decoration: none;
}

.navLink:hover {
    text-decoration: underline;
    font-size: 120%;
    color: #5BCCD9;

}
.header {
    font-family: Arial, Helvetica, sans-serif;
    color: #242F40;
    margin-left: 20px;
}
*/




.top {
    width: 100%;
    height: 930px;
    margin-left: auto;
    margin-right: auto;

}

.container0 {
    display: flex;
    box-shadow: 3px 3px 3px #242F40;
}

.blueBox0 {
    width: 50%;
    height: 488px;
    background-image: linear-gradient(to top right,#E3B23C,#242F40 ,#242F40  );
}


.logo {
    margin-top: 40px;
    margin-left: 40px;
    max-width: 100%;
}


.yellowBox0 {
    width: 50%;
    height: 488px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right,#242F40 ,#242F40 ,#E3B23C );
}

.profileText {
    font-family: Arial, Helvetica, sans-serif;
    color:#E3B23C;
    line-height: 50px;
    font-size: 20px;
    z-index: 1;
    margin-left: 50px;
    padding: 10px;

}

.myPhoto0 {
    width: 380px;
    height: 500px;
    position: relative;
    top: -400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow:5px 5px 5px #030404 ;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color:#EDEBD7;
    width: 88%;
    transition: .5s ease;
    opacity: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
}

.myPhoto0:hover .overlay {
    opacity: 1;
}

.photo0 {
    height: 100%;
    max-width: fit-content;
    max-height: fit-content;
}

.container1 {
    display: flex;
    margin: auto;
    position: relative;
}

.textBox1 {
    width: 50%;
    border-left: 5px solid #DB504A;
    border-bottom:5px solid #DB504A ;
    height: 350px;
    position: relative;
    top: -300px;
    text-align: left;
    margin-right: 30px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: #E3B23C;
    background-image: linear-gradient(to bottom right, #DB504A,#E3B23C  );
    box-shadow: 3px 3px 3px #242F40;

}

.textBox1 ul li {
    color:#EDEBD7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 10px;
    align-items: center;


}

.header1 {
    font-family: Arial, Helvetica, sans-serif;
    color:#EDEBD7;
    margin-left: 40px;
 
}

.text1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    text-align: justify;
    line-height: 35px;
    color:antiquewhite;

}

.redBox1 {
    border-right: 5px solid #DB504A;
    border-bottom:5px solid #DB504A ;
    position: relative;
    width: 50%;
    height: 350px;
    position: relative;
    top: -300px;
    background-color: #DB504A;
    margin: auto;
    margin-right: 5px;
    background-image: linear-gradient(to bottom left, #DB504A,#E3B23C  );
    box-shadow: 3px 3px 3px #242F40;
}
.bioH{
    color: #EDEBD7;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 24;
    margin: 40px;

}
.bio {
    color: #EDEBD7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    line-height: 35px;
}

.middle {
    width: 100%;
    height: 900px;
    position: relative;
    top: 150px;
    margin: auto;
    display: flex;
}

.yellowBox2 {
    border:4px solid #242F40;
    width: 80%;
    height: 700px;
    background-color: #E3B23C;
    position: relative;
    margin: auto;
    background-image: linear-gradient(to bottom right, #E3B23C,#5BCCD9  );
    box-shadow: 3px 3px 3px #242F40;
 
}

.border {
    width: 100%;
    height: 200px;
    border-left: 3px solid #242F40;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    color:#242F40;
    text-align: left;
    line-height: 40px;
    font-size: 16px;
}
.Ex {
    margin-top: 40px;
    margin-left: 15%;
    font-family: Arial, Helvetica, sans-serif;
    color:#242F40;
}
.experience{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.year {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 2%;
    color:#242F40;
    line-height: 40px;
}
.border2 {
    width: 100%;
    height: 200px;
    border-left: 3px solid #242F40;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    color:#242F40;
    text-align: left;
    line-height: 40px;
}
.Ex2 {
    margin-top: 40px;
    margin-left: 15%;
    font-family: Arial, Helvetica, sans-serif;
    color:#242F40;
}
.experience2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.year2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 2%;
    color:#242F40;
    line-height: 40px;
}
.blueBox2 {
    width: 80%;
    height: 100px;
    background-color: #242F40;
    position: relative;
    top: -33.5%;
    margin: auto;
    border: 2px solid #5BCCD9;
    box-shadow: 5px 5px 5px #030404;

}

.frame2 {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.icon {
    max-width: 50px;
    max-height: 50px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 7px 5px black;
}

.container2 {
    height: 500px;
    width: 20%;
    background-color: #E3B23C;
    position: absolute;
    top: 300px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 3px #242F40;
}
.dot {
    height: 50px;
    width: 50px;
    background-color:#242F40;
    border-radius: 50%;
    margin: auto;
  }

.myPhoto2 {
    height: 500px;
    width: 40%;
    position: absolute;
    top: 300px;
    right: 5px;
    opacity: 0.7;

}
.hike{
    max-width: 100%;
    max-height: 100%;

}

.bottom {
    width: 100%;
    height: 900px;
    margin: auto;
    display: flex;
}

.leftContainer {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-right: 3%;;
    margin-left: 0%;

}

.sSkill {
    width: 60%;
    height: 50%;
    background-color: #DB504A;
    display: flex;
    flex-direction:row-reverse;
    margin: auto;
    box-shadow: 3px 3px 3px #242F40;
}

.softHead{
    color: #E3B23C;
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.softText{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    font-family: Arial, Helvetica, sans-serif;
    color: #EDEBD7;
    font-size: 18px;
}
.sLogoContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sSkillLogo{
    max-height:40%;
    max-width: 40%;  
}

.hSkill {
    width: 60%;
    height: 50%;
    background-color: #E3B23C;
    display: flex;
    flex-direction:row-reverse;
    margin: auto;
    margin-left: 0px;
    box-shadow: 3px 3px 3px #242F40;

}
.hardHead{
    color:#DB504A;
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.hSkillLogo{
    max-height:35%;
    max-width: 35%;  
}
.hardText{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #EDEBD7;
   
}
.hLogoContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.blueBox3 {
    width: 50%;
    height: 80%;
    background-color: #242F40;
    margin: auto;
    box-shadow: 3px 3px 3px 3px black;

}
.designHead{
    color: #E3B23C;
    margin: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.designs{
    width:100%;
    height: 80%;
    display: flex;
    flex-direction: row;
 
}
.dLeft{

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-top: 30px;
    align-items: center;
}
.dRight{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;

}
.d1{
    max-width:90% ;
    max-height:70% ;
    box-shadow: 7px 5px 5px rgb(27, 29, 32);
}
.d2{
    max-width:90% ;
    max-height:100% ;
    box-shadow: 7px 5px 5px rgb(27, 29, 32);

}
.d3{
    max-width:70% ;
    max-height:60% ;

}
.d4{
    max-width:40% ;
    max-height:50% ;

}
.d5{
    max-width:50% ;
    max-height:50% ;

}