body , html {
  height:100%;
  margin:0px;
  background-color:#EDEBD7;
}

.navbarHeader {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:700;
  font-size:22px;
  margin-left:3%;
  justify-content:center;
  align-items:center;
  display:flex;
  text-decoration:none;
}

a {
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  margin: auto;
  height: 70px;
  font-size:18px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid #5BCCD9;
  font-family:Arial, Helvetica, sans-serif;
}

/**header links*/ 
.fenixHeaderLink {
  font-size: 20px;
  color: #000000;
}

.fenixHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.glendaHeaderLink {
  font-size: 20px;
  color: #000000;
}

.glendaHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.sanlyHeaderLink {
  font-size: 20px;
  color: #000000;
}

.sanlyHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.justinHeaderLink{
  font-size: 20px;
  color: #000000;
}

.justinHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.takamiHeaderLink{
  font-size: 20px;
  color: #000000;
}

.takamiHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}
/**header links end**/

.glendaLeftColumnTop {
    position: absolute;
    top: 17%;
    width:500px;
    margin-left:8%;
}

.glendaIntroPic {
    display:flex;
    height:480px;
    width:480px;
    object-fit:cover;
    margin-top:5%;
    box-shadow: -20px -20px #E3B23C;
  }

  .glendaSocials {
    margin-top: 2%;
    display:grid;
    width:100%;
    grid-template:
    "a b c" 30px
    ;
  }

  .glendaIG {
    grid-area:a;
  }

  .glendaIG:hover, .glendaLI:hover, .glendaEmail:hover {
    background-color:#5BCCD9;
    transition-duration: 0.5s;
  }

  .glendaLI {
    grid-area:b;
  }

  .glendaEmail {
    grid-area:c;
  }

  .glendaIG, .glendaLI, .glendaEmail {
    background-color:#ffffff;
    border: 2px solid #5BCCD9;
    font-family:Arial, Helvetica, sans-serif;
    width:100px;
    height:30px;
    display:flex;
    box-shadow: 0px 4px 4px #242F40;
    justify-content:space-evenly;
    align-items:center;
  }

.glendaEducation {
    border-left: 8px solid #D38324;
    height:270px;
    width:500px;
    margin-top:5%;
    padding-top:5px;
    justify-content:space-evenly;
    align-items:center;
}

.glendaWork {
  border-left: 8px solid #D38324;
  height:290px;
  width:500px;
  margin-left:10%;
  margin-top:3%;
  padding-top:3%;
  justify-content:center;
  align-items:center;
}

.glendaText1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:25px;
    font-weight:100;
    padding-left:5%;
}

.glendaText2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    padding-left:5%;
    font-weight:300;
}

.glendaText3 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:17px;
    padding-left:5%;
    font-weight:300;
}

.glendaRightColumnTop {
    width: 52%;
    top:15%;
    right: 0px;
    position: absolute;
}

.glendaHeaderText {
    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;
    margin-top:1%;
    font-weight:600;
}

.glendaHeaderDesc {
  font-family:Arial, Helvetica, sans-serif;
  font-size:20px;
  font-weight:100;
  margin-bottom:4%;
  line-height:0;
}

.glendaFadeImage1 {
  position:absolute;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width:350px;
  height:350px;
  margin-top:1%;
  object-fit:cover;
  box-shadow: 0px 4px 4px #242F40;
}

.glendaFadeImage2 {
  position:absolute;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width:370px;
  height:370px;
  justify-content:right;
  margin-left:42%;
  margin-top:25%;
  object-fit:cover;
  z-index:2;
  box-shadow: 0px 4px 4px #242F40;
}

.glendaFadeImage3 {
  position:absolute;
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width:350px;
  height:350px;
  justify-content:right;
  margin-top:50%;
  object-fit:cover;
  z-index:2;
  box-shadow: 0px 4px 4px #242F40;
}


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.glendaSecondBodyContainer {
  grid-template:
  "a a b" 450px 
  "c d e" 450px
  ;
  display: grid;
  max-width: 350px;
  max-height: 500px;
  width:100%;
  margin-top:65%;
  margin-left:8%;
  grid-column-gap:9%;
}

.glendaGrid1 {
  grid-area: a; 
  width: 852px;
  height: 350px;
  background-color:#DB504A;
  font-family:Arial, Helvetica, sans-serif;
  color:white;
  text-align:center;
  justify-content:center;
  align-items:center;
  display:flex;
  font-size:20px;
  box-shadow: -20px -20px #242F40;
}

.glendaGrid2 {
  grid-area: b;
  font-family:Arial, Helvetica, sans-serif;
  border-left: 8px solid #D38324;
  height:350px;
  width:450px;
  justify-content:space-evenly;
  align-items:center;
}

.glendaGrid3 {
  grid-area: c; 
}

.glendaGrid4 {
  grid-area: d;
}

.glendaGrid5 {
  grid-area: e; 

}

.glendaGrid3 img, .glendaGrid4 img, .glendaGrid5 img {
  width:410px;
  height:410px;
  object-fit:cover;
  box-shadow: -17px -17px #E3B23C;
}

.glendaSecondGrid {
  grid-template:
  "a b c d" 450px 
  ;
  display: grid;
  max-width: 200px;
  max-height: 500px;
  width:86%;
  margin-left:42.5%;
  justify-content:center;
  align-items:center;
  grid-column-gap:2%;
}

.glendaLastBodyContainer {
  width:87%;
  height:500px;
  background-color:#242F40;
  justify-content:center;
  align-items:center;
  display:block;
  margin-top:30%;
  margin-left:7%;
  outline-offset: -20px;
  outline: 4px solid #5BCCD9;
}

.glendaGrid6 {
  grid-area: a; 
}

.glendaGrid7 {
  grid-area: b;
}

.glendaGrid8 {
  grid-area: c; 
}

.glendaGrid9 {
  grid-area: d;
}

.glendaGrid6 img, .glendaGrid7 img, .glendaGrid8 img, .glendaGrid9 img {
  width:200x;
  height:400px;
  object-fit:cover;
}

@media only screen and (max-width:950px){
  .navbarHeader {
  font-size:18px;
  }

  .glendaLeftColumnTop {
    position: absolute;
    top: 12%;
    width:100%;
    margin-left:8%;
    grid-template:
    "f" 410px
    "g" 31px
    "h" 275px
    ;
    gap:10px;
  }

  .glendaIntroPic {
    grid-area: f;
    justify-content:center;
    width:400px;
    height:400px;
    margin-left:5%;
  }

  .glendaSocials {
    grid-area: g;
  }

  .glendaEducation {
    grid-area: h;
    height:270px;
    width:100%;
  }

  .glendaRightColumnTop {
    margin-top:60%;
    top:75%;
    display:grid;
    grid-template:
    "a" 35px
    "b" 60px 
    "c" 350px
    "d" 350px
    "e" 350px
    ;
    width:100%;
    gap:10px;
  }

  .glendaHeaderText {
    font-size:35px;
    width:100%;
    text-align:center;
    grid-area: a;
  }

  .glendaHeaderDesc {
    width:100%;
    text-align:center;
    font-size:18px;
    grid-area: b;
    overflow-wrap:normal;
  }

  .glendaFadeImage1 {
    width:350px;
    height:350px;
    grid-area:c;
    display:block;
    margin-left:15%;
    margin-right:auto;
  } 

  .glendaFadeImage1 img, .glendaFadeImage2 img, .glendaFadeImage3 img {
    width:350px;
    height:350px;
  }

.glendaFadeImage2 {
    margin-left:15%;
    width:350px;
    height:350px;
    grid-area:d;
    margin-top:1%;
  }

  .glendaFadeImage3 {
    width:350px;
    height:350px;
    grid-area:e;
    margin-left:15%;
    margin-top:1%;
  }

  .glendaSecondBodyContainer {
    margin-top:410%;
    display:grid;
    grid-template:
    "i" 35px
    "j" 30px 
    "k" 300px
    "l" 300px
    "m" 300px
    ;
    width:100%;
    gap:30px;
  }

  .glendaGrid1 {
    grid-area: i; 
    width: 95%;
    height: 300px;
    justify-content:center;
    align-items:center;
  }
  
  .glendaGrid2 {
    grid-area: j;
    margin-top:55%;
  }
  
  .glendaGrid3 {
    grid-area: k; 
    margin-top:125%;
  }
  
  .glendaGrid4 {
    grid-area: l;
    margin-top:150%;
  }
  
  .glendaGrid5 {
    grid-area: m; 
    margin-top:175%;
  
  }

  .glendaLastBodyContainer {
    width:90%;
    height:500%;
    margin-top:310%;
  }

  .glendaSecondGrid {
    margin-top:0;
    display:grid;
    grid-template:
    "n" 450px
    "o" 450px 
    "p" 450px
    "q" 450px
    ;
    gap:10px;
  }

  .glendaGrid6 img, .glendaGrid7 img, .glendaGrid8 img, .glendaGrid9 img {
    width:300px;
    height:450px;
  }

  .glendaGrid6 {
    grid-area: n;
  }

  .glendaGrid7 {
    grid-area: o;
  }

  .glendaGrid8 {
    grid-area: p;
  }

  .glendaGrid9 {
    grid-area: q;
  }
}