/*Background*/
 .banner {
width: 100%;
height: 100vh;
}

.navbar {
  width: 90%;
  margin: auto;
  padding: 20px, 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #242f40
}

/* Top nav buttons */
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }

/*HOME*/
.homeWindowFrame {
  display:flex;
  width: 1060px;
  height: 800px;
  margin-left:15%;
  margin-right:15%;
  border: 3px solid #E3B23C;
}

.homeNavFrame {
  display:flex;
  background-color:#E3B23C;
  width: 1060px;
  height: 40px;
}

.circle {
  height: 15px;
  width: 15px;
  background-color: rgb(147, 147, 147);
  border-radius: 50%;
  margin-top: 1%;
  margin-left:1%;
  display: inline-flex;
}

.photoGrid {
  display:grid;
  grid-template-columns: 202px 202px 202px 202px 202px;
  grid-template-rows: 340px;
  gap:10px;
  width:100%;
  max-width:202px;
  max-height: 340px;
}

.fenixGrid {
  background-color:#5BCCD9;
}

.glendaGrid {
  background-color:#242F40;
}

.sanlyGrid {
  background-color:#EDEBD7;
}

.justinGrid {
  background-color:#E3B23C;
}

.takamiGrid {
  background-color:#DB504A;
}

/*FENIX*/

/*GLENDA*/

/*SANLY*/

/*JUSTIN*/

/*TAKAMI*/