body {
    margin: 0px;
}


.fenix_nav {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 0px 190px;
}

.fenix_nav_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fenix_nav_left a {
padding: 0 20px;
}

.nav_button {
    border: none;
    background-color: #5BCCD9;
    border-radius: 30px;
}

.margin_body {
    margin: 0px 190px;
}
.about {
    margin-top: 50px;
    display: flex;
}

.about img {
    width: 450px;
    height: 500px;
}

.about_text {
    margin-left: 22px;
}


.about_text h1 {
    margin: 0px 0px 8px;
}

.about_text h3 {
    margin: 8px 0;
}

#korean {
    margin-bottom: 60px;
}

.fenix_colour {
    color: #E3B23C;
}

.fenix_composer {
font-size: 40px;
}

.fenix_composer:hover {
    color: #DB504A;

}

.fenix_ux {
font-size: 30px;
}

.fenix_ux:hover {
    color: #5BCCD9;
    
}

.big_name {
    background-color: #EDEBD7;
    height: 967px;
    margin: 0px 190px;
}

.my_name {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D38324;
}

.who {
    background-color: white;
    height: 967px;
    margin: 90px 190px;
}

.fenix_me {
    margin: 0;
    color: #D38324;
}

.fenix_profile_photo {
    width: 500px;
    height: 600px;
    margin: 128px 0px 90px 140px;
    object-fit: cover;
    display: flex;
}

.whatever {
    display: flex;
}

.Fenix_me_text {
    margin: 128px 0px 90px 38px;

}