body , html {
   height:100%;
   margin:0px;
 }

.page1Top {
   padding-bottom: 130px;
   display: flex;
   flex-direction: row;
   background-color: #EDEBD7;
   width:100%;
   top:0px;
}

.page1Bottom {
   background-color: #EDEBD7;
   width:100%;
   display: flex;
   flex-direction: row;
   padding-bottom: 100px;
}


a {
   text-decoration:none;
}

a:visited {
   color:#000;
   text-decoration:none;
}

a:hover {
   color:#5BCCD9;
   text-decoration:none;
}

.navbar {
   width: 100%;
   margin: auto;
   height: 70px;
   font-size:18px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   background-color: white;
   border-bottom: 2px solid #5BCCD9;
   font-family:Arial, Helvetica, sans-serif;
 }
 
 .fenixHeaderLink {
   font-size: 20px;
   color: #000000;
 }
 
 .fenixHeaderLink:hover{
   border-bottom: 1px solid #5BCCD9;
   color:#5BCCD9;
   text-decoration:none;
 }
 
 .glendaHeaderLink {
   font-size: 20px;
   color: #000000;
 }
 
 .glendaHeaderLink:hover{
   border-bottom: 1px solid #5BCCD9;
   color:#5BCCD9;
   text-decoration:none;
 }
 
 .sanlyHeaderLink {
   font-size: 20px;
   color: #000000;
 }
 
 .sanlyHeaderLink:hover{
   border-bottom: 1px solid #5BCCD9;
   color:#5BCCD9;
   text-decoration:none;
 }
 
 .justinHeaderLink{
   font-size: 20px;
   color: #000000;
 }
 
 .justinHeaderLink:hover{
   border-bottom: 1px solid #5BCCD9;
   color:#5BCCD9;
   text-decoration:none;
 }
 
 .takamiHeaderLink{
   font-size: 20px;
   color: #000000;
 }
 
 .takamiHeaderLink:hover{
   border-bottom: 1px solid #5BCCD9;
   color:#5BCCD9;
   text-decoration:none;
 }

.intro{
   padding-left: 130px;
   padding-top: 120px;
}

.sns{
  width:50px;
  height: 50px;
  padding-left: 50px;
  padding-top: 50px;
}


.firstpic1{
  width: 600px;
  height:500px;
  padding-left: 100px;
  padding-top: 50px;
}

.name{
  font-size: 60px;
  font-family:'PT Serif';
}

.ocupy{
   font-size: 20px;
   font-family:'PT Serif';
  padding-left: 30px;
 text-align: center;

}

.gree{
  font-size: 20px;
   font-family:'PT Serif';
  padding-left: 30px;
}

.like{
  font-size: 15px;
  font-family:'PT Serif';
 padding-left: 30px;
 text-align: center;
}

.page2{
   display:flex;
   flex-direction: row;
}

.educationInformation{
   padding-top: 30px;
   padding-bottom: 240px;
}

.font1{
   font-family:'PT Serif';
   font-size: 15px;
   position:absolute;
   height: 100px;
   left: 700px ;
}

.font2{
   font-family:'Fira Sans';
   font-size: 23px;
 }

.font3{
   font-family:'PT Serif';
   font-size: 17px;
}

.education1{
   padding-top: 70px;
   display: flex;
   flex-direction: column;
}

.education2{
   padding-top: 70px;
   display: flex;
   flex-direction: column;
}

.education3{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}

.experience{
   padding-top: 70px;
   display: flex;
   flex-direction: column;
}

.year{
   padding-left: -50px;
   padding-top: 60px;
}

.info{
   position:absolute;
   left: 1000px;
   padding-top: 55px;
}

.header-for-education{
  padding-top: 120px;
  padding-left: 100px;
  font-size: 80px;
  max-width: 30%;
  font-family: 'Economica';
}

.specific-information{
   display: flex;
   flex-direction: row;
}

.page3{
 background-color:#EDEBD7;
 padding-top: 40px;
 padding-bottom: 190px;
}

.header-for-hobby{
  padding-top: 70px;
  padding-left: 30px;
  font-size: 80px;
  font-family: 'Economica';
}

.hobby1{
  display: flex;
  flex-direction: row;
  gap:30px;
}

.volunteering{
   width: 800px;
   height: 800px;
   background-color:#DB504A;
   text-align:center;
}


.volunteering-pic{
  grid-template: 
  "a a b"
  "c c b"
  "e f f";
  display: grid;
  }

.vpic1{
 width:400px;
 height: 300px;
 grid-area: "a";
}

.vpic2{
  width:230px;
 height: 300px;
 grid-area: "b";
 }

 .vpic3{
  width:300px;
  height: 300px;
  grid-area: "c";
 }

 .vpic4{
  width:500px;
 height: 500px;
 grid-area: "d";
 }

 .vpic5{
  width:500px;
 height: 500px;
 grid-area: "e";
 }

 .vpic6{
  width:500px;
  height: 500px;
  grid-area: "f";
 }

.friends{
  width: 450px;
   height: 1300px;
   background-color:#DB504A;
   text-align:center;
}

.travel{
  width: 600px;
   height: 1000px;
   background-color:#DB504A;
   text-align:center;
}



.hobby{
  padding-top: 100px;
  padding-left: 75px;
  padding-right: 75px;
  gap: 50px;
}


.page4{
  background-color:#242F40 ;
  padding-bottom: 300px;
}


.header-for-info{
  color:#EDEBD7 ;
  padding-top: 70px;
   padding-left: 50px;
   font-size: 80px;
   font-family: 'Economica';
}


.project{
  display: flex;
  flex-direction: row;
  padding-top: 120px;
  text-align:center;
  gap: 30px;
  padding-left: 85px;
}

.project-img{
  width: 400px;
  height: 400px;
  border-radius: 100px 100px 0px 0px;
}


.font4{
  font-family:'PT Serif';
  font-size: 30px;
  padding-top: 5px;
  width: 400px;
  height: 80px;
  background-color:#242F40;
  text-align: center;
  color: #EDEBD7;
  padding-top: 20px;
  align-items: center;
}



.font5{
  color: #EDEBD7;
  font-family:'PT Serif';
  font-size: 30px;
}

.font5-1{
  color: #EDEBD7;
  font-family:'PT Serif';
  font-size: 20px;
}
