body,
html {
 max-width: 100%;
  height: 700vh;
}

.background {
  width: 100%;
  height: 100vh;
}

.navbar {
  width: 100%;
  margin: auto;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #242f40;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

/*top section*/
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  height: 100vh;
  text-align: center;
  align-items: center;
}

/*left*/

.left {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
  padding-top: 25px;
}

.topsection::after {

  content: "";
  display: table;
  clear: both;

}

.mainphoto {

  max-width: 600px;
  height: 600px;
  object-fit: cover;
  padding-left: 25%;
  padding-top: 9%;
  
}

.backfiller {
  position: absolute;
  background-color: #DB504A;
  width: 405px;
  height: 600px;
  z-index: -1;
  margin: 2%
}

/*right section*/

.right {
padding: 7%;
padding-top: 50px;
}

/*crossover section*/
.crosssection {
  width: 100%;
  padding: 100px;
  margin-top: -4px;
  background-color: #242f40;
  text-align: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

/*middle section*/
.middlesection {
display: flex;
flex-wrap: wrap;
height: 100vh;
width: 100%;
align-items: center;
justify-content: center;
padding-top: 50px;
gap: 150px;
}
.instagram, .discord, .spotify, .top, .middle, .bottom {
  display: flex;
flex-direction: column;
}

.bottommiddle {
  display: flex;
  flex-direction: column; 
  height: 50vh;
}

.left2, .right2 {
 margin-top: -4px;
} 
.main {
  display: flex;
flex-wrap: wrap;
height: 100vh;
width: 100%;
align-items: center;
justify-content: center;
padding-top: 50px;
gap: 150px;
}

.middle2section {
 
  height: 133vh;
  align-items: center;
  justify-content: center;
}
.middle2section::after {
  content: "";
  display: table;
  clear: both;

}

.friends, .china, .sk8, .coffee {
  object-fit: cover;
  min-width: 712px;
  max-height: 500px;
}

.photo {
  width: 472px;
  height: 470px;
  object-fit: cover;

}
.wallen {
  width: 100%;
}


/*text*/
/* Top nav buttons */
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

h1 {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
  
}
h2 {
 font-size: 60px;
 font-family: Arial, Helvetica, sans-serif;
}
h3 {
  font-size: 24px;
  font-family:Arial, Helvetica, sans-serif;
 }


p {
 font-size: 16px;
 font-family: Arial, Helvetica, sans-serif;

}


/*links*/
/* unvisited link */
a {
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
a:link {
  color: #242f40;
}

/* visited link */
a:visited {
  color: #242f40;
}

/* mouse over link */
a:hover {
  color: #7BD6E0;
}

/* selected link */
a:active {
  color: #e3b23c;
}
.insta, .dist, .spot{
width: 150px;
}
.insta:hover {
  transform: scale(1.1);
  transition: all .5s ease-in-out;
  object-fit: cover;
}
.dist:hover {
  transform: scale(1.1);
  transition: all .5s ease-in-out;
  object-fit: cover;
}
.spot:hover {
  transform: scale(1.1);
  transition: all .5s ease-in-out;
  object-fit: cover;
}






/*reponsive*/
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
  .right1{
    padding-top: 251px;
  }
  .crosssection {
    width: 100%;
    padding: 100px;
    margin-top: -4px;
  }

 .middle2section {
 
  height: 274vh;
}
}