<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
body , html {
  height: 100%;
  margin: 0px;
}


/*Background*/
<<<<<<< HEAD
.background {
=======

body , html {
  height:100%;
  margin:0px;
}

.background {
<<<<<<<< HEAD:doc/homestyle.css
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
width: 80%;
margin: auto;
}

.navbar {
  width: 80%;
<<<<<<< HEAD
  margin: auto;
  display: flex;
  flex-direction: row;
=======
========
width: 100%;
height: 100vh;
top: 0px; 
}

.navbar {
  width: 100%;
>>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324:docs/homestyle.css
  margin: auto;
  height: 70px;
  font-size:18px;
  display: flex;
  flex-direction: row;
<<<<<<<< HEAD:doc/homestyle.css
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
  align-items: center;
  justify-content: space-evenly;
  background-color:white;
  border-bottom: 2px solid #5BCCD9;
}

/* Top nav buttons */
<<<<<<< HEAD
=======
========
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid #5BCCD9;
}

>>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324:docs/homestyle.css
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
.navbarHeader {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:700;
  font-size:22px;
  margin-left:3%;
  justify-content:center;
  align-items:center;
  display:flex;
  text-decoration:none;
}
<<<<<<< HEAD
=======
<<<<<<<< HEAD:doc/homestyle.css
========

.fenixHeaderLink {
  font-size: 20px;
  color: #000000;
}

.fenixHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.glendaHeaderLink {
  font-size: 20px;
  color: #000000;
}

.glendaHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.sanlyHeaderLink {
  font-size: 20px;
  color: #000000;
}

.sanlyHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.justinHeaderLink{
  font-size: 20px;
  color: #000000;
}

.justinHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.takamiHeaderLink{
  font-size: 20px;
  color: #000000;
}

.takamiHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}
>>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324:docs/homestyle.css
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324

.navbarH{
  color: #242F40;
}

.fenixHeaderLink {
  font-size: 20px;
  color: #242F40;
}

.fenixHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.glendaHeaderLink {
  font-size: 20px;
  color: #000000;
}

.glendaHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.sanlyHeaderLink {
  font-size: 20px;
  color: #242F40;
}

.sanlyHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.justinHeaderLink{
  font-size: 20px;
  color: #242F40;
}

.justinHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.takamiHeaderLink{
  font-size: 20px;
  color: #242F40;
}

.takamiHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}
<<<<<<< HEAD
=======
/*Background*/

body , html {
  height:100%;
  margin:0px;
}

.background {
width: 100%;
height: 100vh;
top: 0px; 
}

.navbar {
  width: 100%;
  margin: auto;
  height: 70px;
  font-size:18px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid #5BCCD9;
}

.navbarHeader {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:700;
  font-size:22px;
  margin-left:3%;
  justify-content:center;
  align-items:center;
  display:flex;
  text-decoration:none;
}

.fenixHeaderLink {
  font-size: 20px;
  color: #000000;
}

.fenixHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.glendaHeaderLink {
  font-size: 20px;
  color: #000000;
}

.glendaHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.sanlyHeaderLink {
  font-size: 20px;
  color: #000000;
}

.sanlyHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.justinHeaderLink{
  font-size: 20px;
  color: #000000;
}

.justinHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.takamiHeaderLink{
  font-size: 20px;
  color: #000000;
}

.takamiHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

>>>>>>> d06504b (not me forgetting the s for docs)
=======
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
/*HOME*/

a {
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
}

a:visited{
  color:#000;
  text-decoration:none;
}

a:hover {
  color:#5BCCD9;
  text-decoration:none;
}

.homeWindowFrame {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
  width: 900px;
  height: 600px;
  margin: auto;
  border: 3px solid #E3B23C;
  background-color:#e4e0d9;
<<<<<<< HEAD
=======
  position:absolute;
  width: 1060px;
  height: 800px;
  margin-left:15%;
  margin-right:15%;
  border: 3px solid #E3B23C;
>>>>>>> d06504b (not me forgetting the s for docs)
=======
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
=======
  width: 900px;
  height: 600px;
  margin: auto;
  border: 3px solid #E3B23C;
  background-color:#e4e0d9;
>>>>>>> bc9dcce (glenda went in sanly's branch to rebase/merge her changes to main)
}

.homeNavFrame {
  display:flex;
  background-color:#E3B23C;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  width: 900px;
=======
  width: 1060px;
>>>>>>> d06504b (not me forgetting the s for docs)
=======
  width: 900px;
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
=======
  width: 900px;
>>>>>>> bc9dcce (glenda went in sanly's branch to rebase/merge her changes to main)
  height: 40px;
}

.circle {
  height: 15px;
  width: 15px;
  background-color: rgb(147, 147, 147);
  border-radius: 50%;
  margin-top: 1%;
  margin-left:1%;
  display: inline-flex;
}

.photoGrid {
  display:grid;
  grid-template-columns: 202px 202px 202px 202px 202px;
  grid-template-rows: 340px;
  gap:10px;
  width:100%;
  justify-content:center;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  margin-top:15%;
=======
  margin-top:25%;
>>>>>>> d06504b (not me forgetting the s for docs)
=======
  margin-top:15%;
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
=======
  margin-top:15%;
>>>>>>> bc9dcce (glenda went in sanly's branch to rebase/merge her changes to main)
}

.fenixGrid {
  background-color:#5BCCD9;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
   opacity: 0.8;
=======
>>>>>>> d06504b (not me forgetting the s for docs)
=======
   opacity: 0.8;
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
=======
   opacity: 0.8;
>>>>>>> bc9dcce (glenda went in sanly's branch to rebase/merge her changes to main)
}

.fenixGridLink {
  width:150px;
  height:70px;
  background-color:#314056;
  font-size:22px;
  text-align:center;
  margin-top:270px;
}

.glendaGrid {
  background-color:#242F40;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  opacity: 0.8;
=======
>>>>>>> d06504b (not me forgetting the s for docs)
=======
  opacity: 0.8;
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
=======
  opacity: 0.8;
>>>>>>> bc9dcce (glenda went in sanly's branch to rebase/merge her changes to main)
}

.glendaGridLink {
  width:150px;
  height:70px;
  background-color:#314056;
  font-size:22px;
  text-align:center;
  margin-top:270px;
}

.sanlyGrid {
  background-color:#EDEBD7;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
=======
>>>>>>> bc9dcce (glenda went in sanly's branch to rebase/merge her changes to main)
  opacity: 0.8;
}
.sanly{
  width: 100%;
  height: 79%;

<<<<<<< HEAD
}

.sanlyGridLink {
  width:100%;
  height:20%;
  background-color:#314056;
  font-size:22px;
  text-align:center;

<<<<<<< HEAD
=======
=======
>>>>>>> bc9dcce (glenda went in sanly's branch to rebase/merge her changes to main)
}

.sanlyGridLink {
  width:100%;
  height:20%;
  background-color:#314056;
  font-size:22px;
  text-align:center;
<<<<<<< HEAD
  margin-top:270px;
>>>>>>> d06504b (not me forgetting the s for docs)
=======
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
=======

>>>>>>> bc9dcce (glenda went in sanly's branch to rebase/merge her changes to main)
}

.justinGrid {
  background-color:#E3B23C;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  opacity: 0.8;
=======
>>>>>>> d06504b (not me forgetting the s for docs)
=======
  opacity: 0.8;
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
=======
  opacity: 0.8;
>>>>>>> bc9dcce (glenda went in sanly's branch to rebase/merge her changes to main)
}

.justinGridLink {
  width:150px;
  height:70px;
  background-color:#314056;
  font-size:22px;
  text-align:center;
  margin-top:270px;
}

.takamiGrid {
  background-color:#DB504A;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  opacity: 0.8;
=======
>>>>>>> d06504b (not me forgetting the s for docs)
=======
  opacity: 0.8;
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
=======
  opacity: 0.8;
>>>>>>> bc9dcce (glenda went in sanly's branch to rebase/merge her changes to main)
}

.takamiGridLink {
  width:150px;
  height:70px;
  background-color:#314056;
  font-size:22px;
  text-align:center;
  margin-top:270px;
}

.about{
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
   display: grid;
   justify-content: center;
   text-align: center;
   font-family:Arial, Helvetica, sans-serif;
<<<<<<< HEAD
}
h2{
    font-size: 32px;
=======
    display: grid;
   justify-content: center;
   text-align: center;
   font-family:Arial, Helvetica, sans-serif;
=======
<<<<<<<< HEAD:doc/homestyle.css
========
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
  width: 100%;
     gap: 20px;
}
h1 {
    font-size: 60px;
<<<<<<< HEAD
=======
   display: grid;
   justify-content: center;
   text-align: center;
   font-family:Arial, Helvetica, sans-serif;
   width: 100%;
>>>>>>> bc9dcce (glenda went in sanly's branch to rebase/merge her changes to main)
}

h2{
    font-size: 36px;
    
>>>>>>> d06504b (not me forgetting the s for docs)
=======
>>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324:docs/homestyle.css
}
h2{
    font-size: 32px;
>>>>>>> 2584be3d6fd55019e5b5cc32df993c31c08a9324
}

