/*Background*/

body , html {
  height:100%;
  margin:0px;
}

.background {
width: 100%;
height: 100vh;
top: 0px; 
}

.navbar {
  width: 100%;
  margin: auto;
  height: 70px;
  font-size:18px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid #5BCCD9;
}

.navbarHeader {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:700;
  font-size:22px;
  margin-left:3%;
  justify-content:center;
  align-items:center;
  display:flex;
  text-decoration:none;
}

.fenixHeaderLink {
  font-size: 20px;
  color: #000000;
}

.fenixHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.glendaHeaderLink {
  font-size: 20px;
  color: #000000;
}

.glendaHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.sanlyHeaderLink {
  font-size: 20px;
  color: #000000;
}

.sanlyHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.justinHeaderLink{
  font-size: 20px;
  color: #000000;
}

.justinHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

.takamiHeaderLink{
  font-size: 20px;
  color: #000000;
}

.takamiHeaderLink:hover{
  border-bottom: 1px solid #5BCCD9;
  color:#5BCCD9;
  text-decoration:none;
}

/*HOME*/

a {
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
}

a:visited{
  color:#000;
  text-decoration:none;
}

a:hover {
  color:#5BCCD9;
  text-decoration:none;
}

.homeWindowFrame {
  position:absolute;
  width: 1060px;
  height: 800px;
  margin-left:15%;
  margin-right:15%;
  border: 3px solid #E3B23C;
}

.homeNavFrame {
  display:flex;
  background-color:#E3B23C;
  width: 1060px;
  height: 40px;
}

.circle {
  height: 15px;
  width: 15px;
  background-color: rgb(147, 147, 147);
  border-radius: 50%;
  margin-top: 1%;
  margin-left:1%;
  display: inline-flex;
}

.photoGrid {
  display:grid;
  grid-template-columns: 202px 202px 202px 202px 202px;
  grid-template-rows: 340px;
  gap:10px;
  width:100%;
  justify-content:center;
  margin-top:25%;
}

.fenixGrid {
  background-color:#5BCCD9;
}

.fenixGridLink {
  width:150px;
  height:70px;
  background-color:#314056;
  font-size:22px;
  text-align:center;
  margin-top:270px;
}

.glendaGrid {
  background-color:#242F40;
}

.glendaGridLink {
  width:150px;
  height:70px;
  background-color:#314056;
  font-size:22px;
  text-align:center;
  margin-top:270px;
}

.sanlyGrid {
  background-color:#EDEBD7;
}

.sanlyGridLink {
  width:150px;
  height:70px;
  background-color:#314056;
  font-size:22px;
  text-align:center;
  margin-top:270px;
}

.justinGrid {
  background-color:#E3B23C;
}

.justinGridLink {
  width:150px;
  height:70px;
  background-color:#314056;
  font-size:22px;
  text-align:center;
  margin-top:270px;
}

.takamiGrid {
  background-color:#DB504A;
}

.takamiGridLink {
  width:150px;
  height:70px;
  background-color:#314056;
  font-size:22px;
  text-align:center;
  margin-top:270px;
}

.about{
    display: grid;
   justify-content: center;
   text-align: center;
   font-family:Arial, Helvetica, sans-serif;
  width: 100%;
     gap: 20px;
}
h1 {
    font-size: 60px;
}
h2{
    font-size: 36px;
    
}

